footer {
	background-color: white;
    height: 65px;
    width: 100%;
    border-top: 1px solid #b4b3b3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
}